<form (ngSubmit)="editContact()" *ngIf="contact">
    <h2>Edit Contact</h2>
    <div *ngIf="contactEdited">
      {{contactEdited}}
    </div>
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="contact.firstName" name="firstName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="contact.lastName" name="lastName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="contact.title" name="title">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="contact.username" name="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="contact.password" name="password">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="contact.phone" name="phone">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="contact.email" name="email">
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Submit</button>
  </mat-dialog-actions>


</form>
